# Import Libraries

In [10]:
import yfinance as yf
import numpy as np

# Request Data from YF and Save to local

In [12]:
# History(): get historicals for one Stock
# stock = yf.Ticker('TSLA')
# stock_historical = Stock.history(
#     period="5mo", 
#     interval="1d",
# )

# Download(): get historicals for multiple Stocks
# In this case, I just need one for demo
stock_list = ['TSLA']
stock_historical = yf.download(
    stock_list, 
    period="5mo",
    interval="1d"
)

stock_historical

[*********************100%***********************]  1 of 1 completed

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2022-03-07,856.299988,866.140015,804.570007,804.580017,804.580017,24164700
2022-03-08,795.530029,849.989990,782.169983,824.400024,824.400024,26799700
2022-03-09,839.479980,860.559998,832.010010,858.969971,858.969971,19728000
2022-03-10,851.450012,854.450012,810.359985,838.299988,838.299988,19549500
2022-03-11,840.200012,843.799988,793.770020,795.349976,795.349976,22345700
...,...,...,...,...,...,...
2022-08-01,903.830017,935.630005,885.000000,891.830017,891.830017,39014300
2022-08-02,882.010010,923.500000,878.000000,901.760010,901.760010,31859200
2022-08-03,915.000000,928.650024,903.450012,922.190002,922.190002,26697000
2022-08-04,933.000000,940.820007,915.000000,925.900024,925.900024,24085400
2022-08-05,908.010010,913.820007,856.630005,864.510010,864.510010,37655300

In [8]:
# Save to local
stock_historical.to_csv("./stock_historicals.csv")

# Calculate EMA